@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
:root {
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    /* text */
    --white-text: hsl(0, 0%, 100%);
    --grayish-blue-footer: hsl(240, 2%, 79%);
    --dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    /*backgroung gradient intro*/
    --very-light-red-gradient: hsl(13, 100%, 72%);
    --light-red-gradient: hsl(353, 100%, 62%);
    /*backgroung gradient body*/
    --very-dark-gray-blue-gradient: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue-gradient: hsla(237, 23%, 32%, 0.835);

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1700px;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    
}
header {
    width: 100%;
    background: url('../images/bg-pattern-intro.svg') center fixed no-repeat, linear-gradient(90deg, var( --very-light-red-gradient), var(--light-red-gradient));
    color: var(--white-text);
    padding-bottom: 10%;
    border-radius: 0 0 0 200px;
}
#upper-section {
    width: 80%;
    display: flex;
    margin: 0 auto;
}
nav {
    padding: 4.0%; 
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
    cursor: pointer;
}
#logo {
    font-size: 3em;
    display: inline-block;
    font-weight: bolder;
    height: fit-content;
    position: relative;
    top: 0.7em;
}
.menu,
.submenu {
    list-style-type: none;
}

.item.button {
    padding: 9px 5px;
}
/*.item:not(.button) a:hover,
.item a:hover::after {
}*/
.menu {
    display: flex;
    width: 100%;
}
.item {
    padding: 1em;
}
.buttons {
    position: relative;
    top: 8%;
    right: 0;
    width: 15em;
    height: 0;
    height: fit-content;
}
.button {
    padding: 10px 20px 10px 20px;
    height: fit-content;
    border-radius: 30px;
}
.login {
    background-color: transparent;
    border: none;
}
.login:hover {
    cursor: pointer;
}
.sign-up {
    background-color: white;
    color: var(--light-red);
}
.sign-up:hover {
    animation-name: changeSignUpColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes changeSignUpColor {
    0% {
        background-color: white;
    }
    100% {
        background-color: var(--very-light-red);
        color: white;
        border: solid 1px var(--very-light-red);
    }
}
.submenu {
    color: black;
    background-color: var(--white-text);
    position: absolute;
    border-radius: 5%;
    display: none;
    padding: 10px;
    box-shadow: 0 5px 20px 0.2px;
}
.submenu .subitem {
    padding: 5px;
}
.submenu .subitem a:hover {
    font-weight: bold;
}
.item:hover ul {
    display: block;
}
#presentation {
    text-align: center;
    border: none;
    padding: 20px;
}
#presentation h1 {
    font-size: 3.67em;
}
#enroll {
    display: flex;
    justify-content: center;
    padding: 30px;
}
#enroll span {
    border: solid 1px;
    padding: 1em;
    border-radius: 30px;
    margin: 10px;
}
#start-for-free {
    background-color: white;
    color: var(--very-light-red);
    font-weight: bold;
}
#start-for-free:hover {
    animation-name: changeColor1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes changeColor1 {
    0% {
        background-color: white;
    }
    100% {
        background-color: var(--very-light-red);
        color: white;
        border: solid 1px var(--very-light-red);
    }
}
#learn-more {
    font-weight: bold;
}
#learn-more:hover {
    animation-name: changeColor2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes changeColor2 {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: var(--white-text);
        color: var(--very-light-red);
        border: solid 1px var(--white-text);
    }
}


/* Mobile header*/
@media screen and (max-width: 500px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
    #upper-section {
        display: flex;
        flex-wrap: wrap;
    }
    nav {
         width: 100%;
         background-color: white;
         color: black;
         flex-direction: column;
         border-radius: 0.5em;
         height: fit-content;
         display: none;
     }
     
     .show{
         display: block;
     }
     #logo {
         top: 0;
     }
     #containerBurger {
        display: inline-block;
        cursor: pointer;
        position: relative;
        left: 11em;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--white-text);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }

     nav .menu {
         display: flex;
         flex-direction: column;
         text-align: center;
     }
     nav .item:hover ul {
         animation-name: showItemContent;
         animation-duration: 1s;
         animation-fill-mode: forwards;
     }
     @keyframes showItemContent {
         0% {
             display: none;
         }
         100% {
             display: block;
         }
     }
     nav .menu .submenu {
         position: relative;
         box-shadow: 0 0 0;
         background-color: rgba(128, 128, 128, 0.171);
     }
     .buttons {
         height: fit-content;
         display: flex;
         justify-content: center;
         margin: 0 auto;
     }
     .buttons .login, .sign-up {
         width: 50%;
         margin: 0 auto;
     }
     .sign-up {
         background: linear-gradient(to right, var(--very-light-red-gradient), var(--light-red-gradient));
         color: white;
     }
}

/*main section*/
main {
    width: 100%;
    
    position: relative;
    padding-bottom: 12em;
}
main p {
    line-height: 2em;
}
#main1 {
    /*background: url('/images/bg-pattern-circles.svg') no-repeat;*/
    display: flex;
    flex-wrap: wrap;
    background-position: 160% -50%;
    padding-bottom: 2em;
    position: relative;
    width: 100%;
}
#main1 .illustration-editor img {
    width: 100%;
}
#main-title {
    text-align: center;
    padding: 7em 0 4em 0;
    width: 100%;
    font-size: 1.5em;
    position: inherit;
    z-index: 1;
}
.main-text {
    width: 53%;
    padding: 0 5em 0 5em;
    position: relative;
    z-index: 1;
}
.main-text h1 {
    padding: 0 0em 1em 0;
}
.illustration-editor {
    width: 50%;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 9.5em;
}
#main1 p {
    padding-bottom: 4em;
}

#main2 {
    width: 100%;
    
    border-radius: 0 10em 0 10em;
    margin-top: 7em;
    display: flex;
    padding: 6em 0 6em 0;
    background-image: radial-gradient(circle at 20% -90% , var(--very-dark-desaturated-blue-gradient) 1%, var(--very-dark-gray-blue-gradient) 100%), url('../images/bg-pattern-circles.svg') ;
    background-repeat: no-repeat;
    background-position: -80% 80%;
    color: white;
}
#main2 .main-text {
    left: 47%;
}
#main2 .illustration-phones {
    position: absolute;
    top: -100%;
    right: 100%;
    width: 70%;
}
#main2 .illustration-phones img {
    width: 100%;
    height: auto;
}

#main3 {
    margin-top: 5em;
    position: inherit;
}
#main3 .main-text {
    left: 47%;
    padding: 0 6em 0 7em;
}
#main3 .main-text h1 {
    padding-top: 2.5em;
}
#main3 .illustration-laptop {
    position: absolute;
    width: 70%;
    top: -7em;
    right: 47em;
    z-index: -1;
}
#main3 .illustration-laptop img {
    width: 100%;
}
/*Mobile version of main*/

@media screen and (max-width: 500px) {
    main {
        padding-bottom: 6em;
    }
    #main1  h1{
        font-size: 1.3em;
    }
    #main1 .illustration-editor {
        width: 100%;
        position: relative;
        top: 0;
    }
    main .main-text {
        width: 100%;
        text-align: center;
        padding: 0 2.5em !important;
    }
    #main2 {
        padding-top: 12em;
        width: 100%;
    }
    #main2 .main-text {
        left: 0;
        padding-top: 7em;
        width: 100%;
    }
    #main2 .illustration-phones {
        width: 100%;
        min-width: 100%;
        right: 0;
        top: -24em;
    }

    #main3 .illustration-laptop {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        margin: 0;
    }
    #main3 .main-text {
        left: 0;
        padding: 0em 2.0em;
    }
}