@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
:root {
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    /* text */
    --white-text: hsl(0, 0%, 100%);
    --grayish-blue-footer: hsl(240, 2%, 79%);
    --dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    /*backgroung gradient intro*/
    --very-light-red-gradient: hsl(13, 100%, 72%);
    --light-red-gradient: hsl(353, 100%, 62%);
    /*backgroung gradient body*/
    --very-dark-gray-blue-gradient: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue-gradient: hsl(237, 23%, 32%);

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    
}
header {
    width: 100%;
    background: url('/images/bg-pattern-intro.svg') center fixed no-repeat, linear-gradient(90deg, var( --very-light-red-gradient), var(--light-red-gradient));
    color: var(--white-text);
    padding-bottom: 10%;
    border-radius: 0 0 0 200px;
}
nav {
    padding: 4.0%; 
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
    cursor: pointer;
}
#logo {
    font-size: 3em;
    display: inline-block;
    font-weight: bolder;
    height: fit-content;
    padding-right: 30px;
    position: relative;
    bottom: 17px;
}
.menu,
.submenu {
    list-style-type: none;
}

.item.button {
    padding: 9px 5px;
}
/*.item:not(.button) a:hover,
.item a:hover::after {
}*/
.menu {
    display: flex;
}
.item {
    padding: 10px;
}
.buttons {
    border: sol;
    position: absolute;
    top: 8%;
    right: 150px;
    width: 200px;
    height: 120px;
    height: fit-content;
}
.button {
    padding: 10px 20px 10px 20px;
    border: solid;
    height: fit-content;
    border-radius: 30px;
}
.login {
    background-color: transparent;
    border: none;
}
.login:hover {
    cursor: pointer;
}
.sign-up {
    background-color: white;
    color: var(--light-red);
}
.sign-up:hover {
    animation-name: changeSignUpColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes changeSignUpColor {
    0% {
        background-color: white;
    }
    100% {
        background-color: var(--very-light-red);
        color: white;
        border: solid 1px var(--very-light-red);
    }
}
.submenu {
    color: black;
    background-color: var(--white-text);
    position: absolute;
    border-radius: 5%;
    display: none;
    padding: 10px;
    box-shadow: 0 5px 20px 0.2px;
}
.submenu .subitem {
    padding: 5px;
}
.submenu .subitem a:hover {
    font-weight: bold;
}
.item:hover ul {
    display: block;
}
#presentation {
    text-align: center;
    border: none;
    padding: 20px;
}
#presentation h1 {
    font-size: 3.67em;
}
#enroll {
    display: flex;
    justify-content: center;
    padding: 30px;
}
#enroll span {
    border: solid 1px;
    padding: 1em;
    border-radius: 30px;
    margin: 10px;
}
#start-for-free {
    background-color: white;
    color: var(--very-light-red);
    font-weight: bold;
}
#start-for-free:hover {
    animation-name: changeColor1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes changeColor1 {
    0% {
        background-color: white;
    }
    100% {
        background-color: var(--very-light-red);
        color: white;
        border: solid 1px var(--very-light-red);
    }
}
#learn-more {
    font-weight: bold;
}
#learn-more:hover {
    animation-name: changeColor2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes changeColor2 {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: var(--white-text);
        color: var(--very-light-red);
        border: solid 1px var(--white-text);
    }
}


/* Mobile header*/
@media screen and (max-width: 375px) {
    ul {
        display: none;
    }
}